.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  background-color: rgb(223, 223, 14);
  margin: 0;
  height: 100px;
  line-height: 100px;
  color: rgb(19, 6, 53);
  border: 10px outset #f69c55;
  font-family: Georgia, "Times New Roman", Times, serif;
}
button {
  border-radius: 10px;
  background-color: #cccbcb;
  box-shadow: 1px 1px 1px 1px rgb(29, 3, 3);
  cursor: pointer;
  margin: 2px 2px;
  height: 30px;
}

.submit {
  transition: 0.5s;
  height: 50%;
  margin: 50px 0px;
}
button:hover {
  color: white;
  background-color: black;
}
button:active {
  background-color: white;
  color: black;
}
.submit span:after {
  content: "\00bb";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span:after {
  opacity: 1;
}

form {
  position: relative;
  width: 94.2%;
  margin: 0;
  background: #fff;
  padding: 35px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input {
  width: 90%;
  border: none;
  outline: none;
  resize: none;
  padding: 40px;
}
.container {
  display: flex;
}
.todo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 5px;
}

.todoitem {
  background: rgb(156, 122, 122);
  padding: 5px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.nav-bar {
  display: flex;
  background-color: white;
}
.btns {
  display: flex;
  position: absolute;
  right: 0%;
}
